<div class="toolbar">
    <div class="title">
        <span>Welcome Master</span>
    </div>
    <div class="exit-btn">
        <button (click)="exit()">exit</button>
    </div>
</div>
<div class="close-poll">
    <app-master-poll-mng></app-master-poll-mng>
</div>
<div class="custom-quest">
    <app-master-custom-quest></app-master-custom-quest>
</div>
<div class="score-summary">
    <app-master-score></app-master-score>
</div>
<div class="quest-carousel">
    <app-master-quest-carousel></app-master-quest-carousel>
</div>